.marquee-w {
position: relative;
  justify-content: end;
display: flex;
flex-direction: row;
  flex-wrap: nowrap;
width: 100%;
height: 100%;
  bottom:0;
  left:0%;
  justify-content: center;
  overflow: hidden;
  z-index: 9999999999;
/*! overflow: hidden; */
}

.marquee {
  display: inline-block;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;
}

.marquee span {
display: flex;
flex-direction: row;
  flex-wrap: nowrap;
  padding-top: .5rem;
  padding-left: 0;
  text-align: center;
  white-space: nowrap;
  min-width:100%;
  max-width:100%;
  height:100%;
  animation:animate 10s linear infinite;
  top: .5rem;
}
.marquee2 span {
  animation-delay:5s;
  color: white;
  display: inline-block;
  overflow: hidden;
  transform: translate(50%,0)
}
.marquee1 span {
  animation-delay:0s;
  color: white;
  display: flex;
}
@keyframes animate {
  0% {
      transform: translate(100%,0);
  }
  100% {
      transform: translate(-100%,0);
  }
}



.banner{
  position: relative;
  width: 100%;
  height: 10%;
  overflow: hidden;

}

.banner::before
{
content: '';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 10000;
  pointer-events: none;
}

.scroll
{
width: calc(100% +400px)
left: -400px;
display:flex;
color: #fff;
}

.scroll div
{
background: #e9c804;
color: #1d1104;
font-size: 1em;
letter-spacing: 0.1em;
white-space: nowrap;
animation: animate_one 60s linear infinite;
animation-delay: -60s;
}

.scroll div:rth-child(2)
{  
animation: animate_two 60s linear infinite;
animation-delay: -30s;
}

@keyframes animate_one
{
  0%
  { 
    transform: translateX(100%);
  }

  100%
  { 
    transform: translateX(-100%);
  }
}


@keyframes animate_two
{
  0%
  { 
    transform: translateX(0);
  }

  100%
  { 
    transform: translateX(-200%);
  }
}

