.marquee-w {
position: relative;
  justify-content: end;
display: flex;
flex-direction: row;
  flex-wrap: nowrap;
width: 100%;
height: 100%;
  bottom:0;
  left:0%;
  justify-content: center;
  overflow: hidden;
  z-index: 9999999999;
/*! overflow: hidden; */
}

.marquee {
  display: inline-block;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;
}

.marquee span {
display: flex;
flex-direction: row;
  flex-wrap: nowrap;
  padding-top: .5rem;
  padding-left: 0;
  font-family: 'happy-times';
  text-align: center;
  white-space: nowrap;
  min-width:100%;
  max-width:100%;
  height:100%;
  line-height: 1.5rem;
  font-size: 1.25rem;
  animation:animate 10s linear infinite;
  top: .5rem;
  letter-spacing: .15rem;
}
.marquee2 span {
  animation-delay:5s;
  color: white;
  display: inline-block;
  overflow: hidden;
  transform: translate(50%,0)
}
.marquee1 span {
  animation-delay:0s;
  color: white;
  display: flex;
}
@keyframes animate {
  0% {
      transform: translate(100%,0);
  }
  100% {
      transform: translate(-100%,0);
  }
}

