/*1*/

.social-svg_1 {
  background-image: url('/BUTTONS/insta.png');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  position: absolute;
  left:0;
  top:0;
}
.social-svg_2 {
  background-image: url('/BUTTONS/mail.png');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  position: absolute;
  left:0;
  top:0;
}


.instagram {
  position: relative;
  height: 2rem;
  width: 2rem;
}
