/*1*/

.social-svg_0 {
  background-image: url('/BUTTONS/phone.png');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  
    width: 2rem;
  height: 2rem;margin: 0 0 0 .5rem;
}

.social-svg_1 {
  background-image: url('/BUTTONS/insta.png');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  
    width: 2rem;
  height: 2rem;margin: 0 0 0 .5rem;
}

.social-svg_2 {
  background-image: url('/BUTTONS/mail.png');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  
    width: 2rem;
  height: 2rem;margin: 0 0 0 .5rem;
}

.social-svg_3 {
  background-image: url('/BUTTONS/linkedin.png');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  
    width: 2rem;
  height: 2rem;margin: 0 0 0 .5rem;
}
.social-svg_4 {
  background-image: url('/BUTTONS/facebook.png');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  
    width: 2rem;
  height: 2rem;margin: 0 0 0 .5rem;
}

#social_elements {
  position: relative;
  height: 1.5rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: auto;
}

#social_elements .child { transition: all .2s ease-in-out; }

#social_elements:hover .social svg {
  transform: scale(1.3);
}

@media screen and (min-width: 404px){h2 {
  font-size:'';
  letter-spacing:'';
}}
@media screen and (max-width: 404px){h2 {
  font-size: 2rem;
  letter-spacing: .05rem;
}
  #social_elements{
  padding-top:2rem;}
}
