/*1*/

.social-svg_0 {
  background-image: url('/BUTTONS/phone.png');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  
    width: 2rem;
  height: 2rem;
 margin: 0 1rem 0 1rem;
}

.social-svg_1 {
  background-image: url('/BUTTONS/insta.png');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  
    width: 2rem;
  height: 2rem;
 margin: 0 1rem 0 1rem;
}

.social-svg_2 {
  background-image: url('/BUTTONS/mail.png');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  
    width: 2rem;
  height: 2rem;
  margin: 0 1rem 0 1rem;
}

.social-svg_3 {
  background-image: url('/BUTTONS/linkedin.png');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  
    width: 2rem;
  height: 2rem;
  margin: 0 1rem 0 1rem;
}
.social-svg_4 {
  background-image: url('/BUTTONS/facebook.png');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  
    width: 2rem;
  height: 2rem;
  margin: 0 1rem 0 1rem;
}

.social_elements {
  position: relative;
  height: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
