*{
margin:0;
padding:0;
}

body{
margin:0;
font-family: Arial;
font-size: 1rem;
color: black;
line-height:1.6;
}

#showcase{
background-image:url('../IMG/landing.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 2rem;
}
#showcase h1{
font-size:50px;
  line-height:1.2;
}

#showcase p{
font-size:20px;
}

#showcase .button{
font-size: 3rem;
  line-height:1.8;
  text-decoration:none;
  color: black;
  border: transparent 1px solid;
  padding: 1rem 2rem;
  margin-top:2rem;
  margin-bottom:2rem;
}

#showcase .button:hover{
  background: transparent;
  color: white;
  border: white 1px solid;
  transform: rotate(-0.025turn);transition-timing-function: ease;
}

#section-a{
padding: 1rem;
  background:yellow;
  color: black;
  text-align:center;
}

#section-b{
padding: 1rem;
  background:blue;
  color: black;
  text-align:center;
}
#section-c{display:flex;
}
#section-a, #section-b, #section-c {display:none;
}


