nav.menu ul {
  z-index: 1000000;
}

#headerindex {
  display: flex;
  position: absolute;
  
  width: 60%;
  height:100%;
  left: 20%;
  top: 0;
  bottom: 0;
  
  align-content: center;
  bottom: 0;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  
  z-index: -100001 !important;
}
