
@media (min-width: 950px) {
  .project-list-index {
    gap: 0 !important;
    --num-cols: 10 !important;
  }
figure.project-index:nth-child(1) {
  
  grid-column: 1/5;
  grid-row: 1/6;
}
figure.project-index:nth-child(2) {
  
  grid-column: 5/11;
  grid-row: 1/5;
}
figure.project-index:nth-child(3) {
  
  grid-column: 1/5;
  grid-row: 6/10;
}
figure.project-index:nth-child(4) {
  
  grid-column: 1/4;
  grid-row:14/17 ;
}
figure.project-index:nth-child(5) {

  grid-column: 4/8;
  grid-row: 10/13;
}
figure.project-index:nth-child(6) {

  grid-column: 5/8;
  grid-row: 5/10;
}
figure.project-index:nth-child(7) {
  
  grid-column: 8/11;
  grid-row: 9/13;
}
figure.project-index:nth-child(8) {
  grid-column: 1/4;
  grid-row: 10/14;
}
figure.project-index:nth-child(9) {
  
  grid-column: 8/11;
  grid-row: 5/9;
}
figure.project-index:nth-child(10) {
  grid-column: 7/11;
  grid-row: 13/17;
}
  
  figure.project-index:nth-child(11) {
  grid-column: 4/7;
  grid-row: 13/17;
}


figcaption.project-info-index {
  position: absolute !important;
  cursor: pointer;
}
