
/* main.css | https://olgaamaya.netlify.app/CSS/main.css */

.header-title {
  /* position: relative; */
  text-align: center;
  justify-items: center;
}

@media screen and (max-width: 330px) {
  .header-title a span {
    text-align: center !important;
    justify-content: center;
    align-content: ;
    display: ;
  }
}

.header-title a {
  left: 10%;
}

.header-title a span {
  /* display: block; */
  /* position: static; */
  /* position: initial; */
  position: absolute;
  left: 40%;
  width: 100vw;
}

nav.menu ul {
  z-index: 1000000;
}

/* Element | https://olgaamaya.netlify.app/ */

#headerindex {
  display: flex;
  text-align: center;
  width: 100%;
  top: 0rem;
  left: 0;
  text-align: center;
  display: flex;
  align-content: center;
  bottom: 0;
  position: absolute;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  z-index: -100001 !important;
}
